body{
    font-family: Arial;
}
h1{
    text-align: center;
}


/* Create two unequal columns that floats next to each other*/
.column1 {
    float: left;
    width: 60%;
  }
  .column2 {
    float: right;
    width: 40%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #barchart{
    position: relative;
  }
  
  .tooltip{
    opacity: 0;
    background-color: aliceblue;
    border: solid;
    border-width: "1px";
    border-radius: "5px";
    padding: "5px";
    position:absolute;
  }

  

  .circles{
    fill:lightsalmon;
  }

  .bars{
    fill:lavender;
  }

