/* Set text to Arial */
body{
    font-family: Arial;
}
/* Center headings */
h1{
    text-align: center;
}
h2{
    text-align: center;
}


/* Create two unequal columns that floats next to each other*/
.column1 {
    float: left;
    width: 60%;
}
.column2 {
    float: right;
    width: 40%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Set relative position of the div where the barchart is contained */
#barchart{
    position: relative;
}
  
  /* Set style for the tooltip */
.tooltip{
    opacity: 0;
    background-color: rgb(146, 186, 220);
    width: 100px;
    padding: "5px";
    position:absolute;
    pointer-events: none;
    left: -200px;
    top: 300px;
}

  
  /* Set points color */
.circles{
    fill:lightsalmon;
}

  /* Set default bars color */
.bars{
    fill:lavender;
}

